/*
font-style
font-weight
font-size
font-family
text-align
line-height
letter-spacing
text-transform
*/

body 		{
				background: #8AA7BD;
				font-family: Courier;
				font-weight: 18px;
				font-size: 50pt;
			}


.main
			{	
				width: 80%;
				margin: 100px auto;	
			}
#h3
			{
				color: black;
				font-family: Garamond;
				font-size: 30pt;
				text-align: center;
			}

#h1
			{
				color: black;
				font-family: Garamond;
				font-size: 20pt;
				text-align: center;
			}
			
.allign
			{
				height: 300px;
				width: 300px;
				position: inherit;
				margin: 300px auto;
			}

.bold
			{
				font-style: bold; 
			}
.textrans   {
				text-transform: capitalize;
			}
